{
"ldapConfig":{
"actionLinks":{
"testAndApply":"https://{{ rancher_server_ip }}/v3/openLdapConfigs/openldap?action=testAndApply"
},
"baseType":"authConfig",
"connectionTimeout":5000,
"enabled":true,
"groupDNAttribute":"entryDN",
"groupMemberMappingAttribute":"member",
"groupMemberUserAttribute":"entryDN",
"groupNameAttribute":"cn",
"groupObjectClass":"groupOfNames",
"groupSearchAttribute":"cn",
"id":"openldap",
"labels":{
"cattle.io/creator":"norman"
},
"links":{
"self":"https://{{ rancher_server_ip }}/v3/openLdapConfigs/openldap",
"update":"https://{{ rancher_server_ip }}/v3/openLdapConfigs/openldap"
},
"name":"openldap",
"nestedGroupMembershipEnabled":false,
"port":{{ j2_openldap_server_port }},
"starttls":false,
"tls":false,
"type":"openLdapConfig",
"userDisabledBitMask":0,
"userLoginAttribute":"uid",
"userMemberAttribute":"memberOf",
"userNameAttribute":"cn",
"userObjectClass":"inetOrgPerson",
"userSearchAttribute":"uid|sn|givenName",
"servers":[
"{{ rancher_server_ip }}"
],
"serviceAccountDistinguishedName":"cn={{ j2_openldap_rancher_admin_username }},ou=users,{{ j2_openldap_root }}",
"serviceAccountPassword":"{{ j2_openldap_rancher_admin_password }}",
"userSearchBase":"ou=users,{{ j2_openldap_root }}",
"accessMode":"unrestricted"
},
"enabled":true,
"username":"{{ j2_openldap_rancher_admin_username }}",
"password":"{{ j2_openldap_rancher_admin_password }}"
}